<!DOCTYPE html>
<html lang="en" ng-app="clienteModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sistema Hotel</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jasny-bootstrap.css" rel="stylesheet">
	
	<script src="js/angular.min.js"></script>
	<script src="control/clienteControl.js"></script>
	<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>

  </head>
<body ng-controller="clienteControl">

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="js/jquery-1.12.2.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="js/bootstrap.min.js"></script>
	
   <div ng-include="'menu.html'"></div>
	
   <div class="panel panel-default">
   <div class="panel-heading">Cadastro de clientes</div>
   <div class="panel-body">
	   <div>
		  <!-- Nav tabs -->
		  <ul id="myTab" class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
			<a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a></li>
			<li role="presentation">
			<a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="cadastro">
			<br>				
				<form>
				    <h3> <span class="label label-success" ng-repeat="mensagem in mensagens">{{mensagem}}<br></span></h3>
				    <h3> <span class="label label-danger" ng-repeat="mensagemDanger in mensagensDanger">{{mensagemDanger}}<br></span></h3>
					<div class="form-group">
						<button type="button" ng-click="novo()" class="btn btn-info">Novo</button>
						<button type="submit" ng-click="salvar()" class="btn btn-success">Salvar</button>
						<button type="button" ng-click="excluir()" class="btn btn-danger">Excluir</button>
						<button type="button" ng-click="pesquisar()" class="btn btn-warning">Pesquisar</button>
					</div>	
				  <hr/>	
				  <div class="form-group col-md-2">
					<label for="inputCodigo">Código:</label>
					<input type="number" class="form-control" disabled="true" ng-model="cliente.codigo" id="inputCodigo" placeholder="Código do cliente">
				  </div>
				  <div class="form-group col-md-3">
					<label for="inputNome">Nome:</label>
					<input type="text" class="form-control" ng-model="cliente.nome" id="inputNome" placeholder="Insira o nome">
				  </div>
				  <div class="form-group col-md-3">
					<label for="inputNome">CPF:</label>
					<input type="text" class="form-control"  ng-model="cliente.cpf" id="inputNome" placeholder="Insira o cpf">
				  </div>		  
				   <div class="form-group col-sm-2">
				      <label for="inputSexo" >Sexo:</label>
				      <select class="form-control"
				            ng-model="cliente.sexo"
				            ng-options="sexo for sexo in sexos"
				             >
				           			             
			          </select>
			      </div>
			      <div class="form-group col-md-3">
					<label for="inputNome">Email:</label>
					<input type="text" class="form-control" ng-model="cliente.email" id="inputNome" placeholder="Insira o Email">
				  </div>
				  <div class="form-group col-md-3">
					<label for="inputNome">Telefone Fixo:</label>
					<input type="text" class="form-control" ng-model="cliente.telefone" id="inputNome" placeholder="Insira o Telefone Fixo">
				  </div>
				  <div class="form-group col-md-3">
					<label for="inputNome">Celular:</label>
					<input type="text" class="form-control" ng-model="cliente.celular" id="inputNome" placeholder="Insira o Celular">
				  </div>
				  		  
			      <div class="form-group col-md-4">
			            <label for="inputNome">Endereço:</label>
					    <div class="input-group">
					      <input type="text" class="form-control" ng-model="pesquisaEndereco" placeholder="Insere Pesquisa Endereço...">
					      <span class="input-group-btn">
					        <button class="btn btn-warning" type="button" ng-click="pesquisaEnderecoDescricao()" data-toggle="modal" data-target="#MyModal">Buscar Endereço !</button>
						  </span>
					    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->	
				  				  
				 
				  <div id="MyModal" class="modal fade "  visible="showModal1" on-sown="modalOneShown()" on-hide="modalOneHide()">
				      <div class="modal-dialog  ">
				      	 <div class="modal-content custom-width-modal">
				      	     <div class="modal-header">
				      	        <div class="modal-title">Busca Endereço
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
				      	        
				      	     </div>
				      	     <div class="modal-body">
				      	     <h3> <span class="label label-warning" ng-repeat="mensagem_model in mensagens_model">{{mensagem_model}}<br></span></h3>
				      	     <table class="table table-striped table-bordered table-hover">
									<tr>
									<th>Código</th>
									<th>Tipo Logradouro</th>
									<th>Nome Logradouro</th>
									<th>Bairro</th>
									<th>CEP</th>
									<th>Cidade</th>
									<th>Estado</th>
									<th></th>
									</tr>
									<tbody>
									<tr ng-repeat="logradouroTabela in logradouros | filter:criterio" 
										>					
										<td>{{logradouroTabela.codigo}}</td>
										<td>{{logradouroTabela.tipoLogradouro}}</td>
										<td>{{logradouroTabela.nomeLogradouro}}</td>
										<td>{{logradouroTabela.bairro}}</td>
										<td>{{logradouroTabela.cep}}</td>
										<td>{{logradouroTabela.cidade.nomeCidade}}</td>
										<td>{{logradouroTabela.cidade.estado.nomeEstado}}</td>
										<td><button type="button" ng-click="selecionaLogradouro(logradouroTabela)" class="btn btn-info" data-dismiss="modal">Selecinar</button></td>
									</tr>
									</tbody>
								</table>
				      	     </div>
				      	     <div class="modal-footer">
				      	         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      	     </div>
				      	     
				      	   </div>
				        </div>
 				      </div> 
					
				  
				    <div class="form-group col-md-2">
					         <label for="inputCodigo">Código:</label>
					         <input type="number" class="form-control" disabled="true" ng-model="cliente.endereco.codigo" id="inputCodigo" placeholder="Código do Endereço">
				          </div>
				          <div class="form-group col-sm-2">
				              <label for="inputTipoLogradouro" >Tipo Logradouro:</label>				      
					          <input type="text" class="form-control" disabled="true" ng-model="cliente.endereco.tipoLogradouro" id="inputNome" placeholder="Tipo logradouro">			     
						  </div>				  
						  <div class="form-group col-md-3">
							<label for="inputNome">Nome Logradouro:</label>
							<input type="text" class="form-control" disabled="true" ng-model="cliente.endereco.nomeLogradouro" id="inputNome" placeholder="logradouro">
						  </div>
						  <div class="form-group col-md-3">
							<label for="inputNome">Bairro:</label>
							<input type="text" class="form-control" disabled="true" ng-model="cliente.endereco.bairro" id="inputNome" placeholder="bairro">
						  </div>
						  <div class="form-group col-md-2">
							<label for="inputNome">CEP:</label>
							<input type="text" class="form-control" disabled="true" ng-model="cliente.endereco.cep" id="inputNome" placeholder="CEP">
						  </div>				  
						  <div class="form-group col-sm-3">
						      <label for="inputCidade" >Cidade:</label>					     
					          <input type="text" class="form-control" disabled="true" ng-model="cliente.endereco.cidade.nomeCidade" id="inputNome" placeholder="Nome cidade"> 				     
						  </div>
						  <div class="form-group col-md-2">
							<label for="inputEstado">Estado:</label>
							<input type="text" class="form-control" disabled="true" ng-model="cliente.endereco.cidade.estado.nomeEstado" id="inputCodigo" placeholder="Nome Estado">
						  </div>
						  <div class="form-group col-md-2">
							<label for="inputEstado">Numero:</label>
							<input type="text" class="form-control"  ng-model="cliente.numero" id="inputNumero" placeholder="Informe numero">
						  </div>
						  <div class="form-group col-md-3">
							<label for="inputEstado">Complemento:</label>
							<input type="text" class="form-control"  ng-model="cliente.complemento" id="inputComplemento" placeholder="Informe o complemento do endereço">
						  </div>
				</form>
				
			</div>
			<div role="tabpanel" class="tab-pane" id="dados">
			<br>
			<input type="text" class="form-control" ng-model="criterio"
				placeholder="O que você está procurando?" /><br>
				
			<table class="table table-striped table-bordered table-hover">
				<tr>
				<th>Código</th>
				<th>Nome</th>
				<th>CPF</th>
				<th>Sexo</th>
				</tr>
				<tbody>
				<tr ng-repeat="clienteTabela in clientes | filter:criterio" 
					ng-click="seleciona(clienteTabela)">					
					<td>{{clienteTabela.codigo}}</td>
					<td>{{clienteTabela.nome}}</td>
					<td>{{clienteTabela.cpf}}</td>
					<td>{{clienteTabela.sexo}}</td>
				</tr>
				</tbody>
			</table>
			<span ng-show="(clientes | filter:criterio).length == 0">Infelizmente
			não temos o item que você está procurando!</span>

			</div>
		  </div>

		</div>
		</div>
	</div>
		
  </body>
</html>